version: '3.9'

services:
  db:
    container_name: db
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: rodrigo
      POSTGRES_PASSWORD: 81392884
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
    db_data: