<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  {% block head %}{% endblock %}

  <title>{% block title %}Meu Site{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
   <header>
    <div class="container header-content">
      <div class="logo">
        <h1>Rodrigo Barbosa</h1>
        <p>Backend Developer & Computer Engineering Student</p>
      </div>
      <ul class="nav-links">
        <li><a href="#about">Sobre</a></li>
        <li><a href="#projects">Projetos</a></li>
        <li><a href="#skills">Habilidades</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </div>
  </header>

  <main>   
    <div class="container">
     <div class="content">

      {% block content %}{% endblock %}

    </div>
   </div>
  </main>




   <footer id="contact">
    <div class="container footer-content">
      <div class="contact-info">
        <h3>Entre em Contato</h3>
        <p><i class="fas fa-envelope"></i> Email: rodrigodesousabarbosa64@gmail.com</p>
        <p><i class="fas fa-phone"></i> Telefone: (91) 9215-2007</p>
      </div>
      
      <div class="social-links">
        <a href="https://github.com/rodrigosousa64" title="GitHub"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/rodrigo-sousa-barbosa-4702872b8/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>

        <a href="#" title="Currículo"><i class="fas fa-file-pdf"></i></a>
      </div>
    </div>
  </footer>

</body>
</html>
