{% extends "adm_base.html" %}

{% block title %}Create Project{% endblock %}

{% block content %}

<style>
    h2 { color: #000000;}
    label { color: #000000;  }
    
</style>


<h2>Create New Project</h2>

<form action="{{ url_for('admin.project_create') }}" method="POST">
    <div>
        <label for="name">Project Name</label><br>
        <input type="text" name="name" id="name" required style="width:100%; padding:6px; margin-top:4px;">
    </div>
    <div style="margin-top:10px;">
        <label for="description">Description</label><br>
        <textarea name="description" id="description" rows="4" required style="width:100%; padding:6px; margin-top:4px;"></textarea>
    </div>
    <div style="margin-top:10px;">
        <label for="technologies">Technologies</label><br>
        <input type="text" name="technologies" id="technologies" style="width:100%; padding:6px; margin-top:4px;">
    </div>
    <div style="margin-top:10px;">
        <label for="git_link">Git Link</label><br>
        <input type="url" name="git_link" id="git_link" style="width:100%; padding:6px; margin-top:4px;">
    </div>
    <div style="margin-top:10px;">
        <label for="hosted_link">Hosted Link</label><br>
        <input type="url" name="hosted_link" id="hosted_link" style="width:100%; padding:6px; margin-top:4px;">
    </div>
    <div style="margin-top:10px;">
        <label for="image_url">Image URL</label><br>
        <input type="url" name="image_url" id="image_url" style="width:100%; padding:6px; margin-top:4px;">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}
